{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Login</h1>
    <p class="muted">Access your secure account.</p>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>
{% endblock %}
